{% extends 'rango/../base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
        <div class="page-header">
        <h1>And who made this fine web application?</h1>
            </div>
            <div>
        William did! and here he is with his cat!<strong>{{ boldmessage }}</strong><br />
		<br><img src="{% static "images/parker.jpg" %}" alt="Parker, the cat" />
        </div> <br>
    <p> This site has been visited {{ visits }} times</p>
{% endblock %}
